.top {
    height: 100%;
    text-align: center;
}

.mainPoster {
    display: block;
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
}

.topBtn {
    position: relative;
    height: 40px;
    padding: 0;
    font-size: 35px;
    color: var(--dark-clay);
    font-family: var(--f-handwriting);
    text-decoration: none;
}

.topBtn p {
    float: right;
}