.login-register {
    height: 100vh;
}

.login-register-greeting {
    width: 100vw;
    margin-top: 200px;
    display: inline-block;
}

.login-register-greeting h1 {
    text-align: center;
    color: var(--dark-clay);
    font-family: var(--f-handwriting);
}

.login-register .input-container {
    width: 290px;
    margin: 0 auto;
}

.login-register input {
    width: 100%;
    height: 40px;
    background-color: var(--input-grey);
    border: 0;
    border-radius: 3px;
    margin: 10px 0;
    font-family: var(--f-sans);
    padding-left: 10px;
}

.login-register input:hover {
    background-color: var(--input-grey-hover);
}

.login-register button {
    display: block;
    margin: 30px auto;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    border: none;
    background-color: var(--wet-porcelain);
    color: var(--dark-clay);
    font-family: var(--f-sans); /* change this later */
    font-size: 20px;
}

.login-register button:hover {
    background-color: var(--dry-porcelain);
    color: var(--light-clay);
}

.login-register button:hover {
    color: var(--light-clay);
    background-color: var(--dry-porcelain);
}

.login-register-link {
    text-align: center;
    width: 100vw;
}

.login-register-link a {
    color: var(--subtle-grey);
    font-family: var(--f-sans);
}

.login-register-link a:hover {
    color: var(--dry-porcelain);
}