@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Open+Sans:wght@400;500&family=Playfair+Display&family=Poppins&display=swap');

:root {
	--dark-clay: #576f72;
	--light-clay: #7d9d9c;
	--wet-porcelain: #e4dccf;
	--dry-porcelain: #f0ebe3;
	--input-grey: rgb(240, 240, 240);
	--input-grey-hover: rgb(245, 245, 245);
	--subtle-grey: rgb(200, 200, 200);

	--f-handwriting: 'Edu NSW ACT Foundation', cursive;
	--f-sans: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	--f-sans-a: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
	sans-serif;
	--f-serif-display: 'Playfair Display', 'Open Sans', 'Gill Sans',
		'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a {
	text-decoration: none;
	color: inherit;
}
